html,
body {
  height: 100%;
  margin: 0;
}

.wrap{
  height: 100%;
}

ul{
  margin: 0;
}

.menu{
  width: 250px;
  color: white;
  background-color: #4B0082;
  padding: 15px;
  height: 100%;
  box-sizing: border-box;
}

.first-menu{
  float: left;
  margin-right: 15px;
}

.content{
  /* Не работает привычным образом из-за float
  padding-left: 15px; */
  padding-top: 15px;
}

.second-wrap{
  display: flex;
}

.second-content{
  padding-left: 15px;
  flex-grow: 1;
}

.third-menu {
  display: inline-block;
}

.third-content{
  display: inline-block;
  padding-left: 15px;
  box-sizing: border-box;
  width: calc(100% - 254px);
  vertical-align: top;
}