html{
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  display: grid;
  height: 100%;
  grid-template-areas: 
  "header header header"
  "left center right"
  "footer footer footer";
  grid-template-rows: 50px auto 50px;
  grid-template-columns: 1fr 2fr 1fr;
}

div {
  border: 3px solid red;
  text-align: center;
}

.header{
  grid-area: header;
}

.left{
  grid-area: left;
}

.center{
  grid-area: center;
}

.right{
  grid-area: right;
}

.footer{
  grid-area: footer;
}